:root {
    --base-colour: #DCD7C9;
    --text-colour: black;
    --event-colour: #ab4c36;
    --header-colour: rgb(71, 71, 71);
    --header-hover-colour: #293335;
    --hover-colour: rgb(70, 76, 76);
    --button-colour: rgb(117, 122, 122);
    --content-colour: #b3b2b1;
    --border-colour: #d6cfcf;
}

.darkmode{
    --base-colour: #1f1f1f;
    --text-colour: rgb(212, 212, 212);
    --event-colour: #9d5242;
    --header-colour: rgb(50, 50, 50);
    --header-hover-colour: #6e6e6e;
    --hover-colour: rgb(58, 58, 58);
    --button-colour: rgb(39, 45, 45);
    --content-colour: #6a6a6a;
    --border-colour: #979797;
}

.calendar {
  width: 100%;
  min-height: 300px;
  max-width: 500px;
  margin: auto;
  padding: 15px;
  background: var(--base-colour);
  border-radius: 16px;
  box-shadow: 0 4px 18px var(--text-colour);
  font-family: "Inter", sans-serif;
}


.calendar-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: var(--text-colour);
  top: 10px;
  padding-bottom: 10px;
}

.calendar-header button {
  background: none;
  border: none;
  font-size: 1.6rem;
  padding: 6px 10px;
  cursor: pointer;
  color: var(--text-colour);
}

#month-year {
  font-size: 1.3rem;
  font-weight: 600;
  text-align: center;
}

.calendar-weekdays {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  text-align: center;
  background: var(--base-colour);
  padding: 8px 0;
  border-radius: 10px;
  font-weight: 600;
  color: var(--text-colour);
}

.calendar-dates {
  display: grid;
  color: var(--text-colour);
  grid-template-columns: repeat(7, 1fr);
  margin-top: 10px;
  gap: 6px;
}

.calendar-date {
  padding: 12px;
  text-align: center;
  color: var(--text-colour);
  border-radius: 12px;
  cursor: pointer;
  position: relative;
  transition: 0.2s;
}

.calendar-date:hover {
  background: var(--hover-colour);
}

.current-date {
  background-color: var(--button-colour) !important;
  color: var(--base-colour);
}

.event-dot {
  width: 6px;
  height: 6px;
  background: var(--event-colour);
  border-radius: 50%;
  position: absolute;
  bottom: 6px;
  left: 50%;
  transform: translateX(-50%);
}

.blank {
  cursor: default;
  visibility: hidden;
}

.event-dot {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  margin-top: 4px;
}

.event-details {
  margin-top: 20px;
  padding: 15px;
  color: var(--text-colour);
  background: var(--base-colour);
  border-radius: 8px;
}

.event-item {
  margin-bottom: 10px;
  color: var(--text-colour);
}
.event-item h4 {
  margin: 0 0 5px;
}

@media (max-width: 450px) {
  .calendar-date {
    padding: 10px;
  }
}